//partials modules
@import "resets";

//variables
$buttoncolor: red;
$fontColor: #fff;
$headingFont: 28px;

//local-webfonts-setup
@font-face {
    font-family: Netflix Sans, sans-serif;
    src: url(../Assets/fonts/NetflixSans_W_Rg.woff2);
}

body{
    font-family: Netflix Sans, sans-serif;
}

//story-container
.story-container{
    text-align: center;
    padding: 10px 20px;
    background: url(../assets/images/US-en-20210719-popsignuptwoweeks-perspective_alpha_website_medium.jpg);
    background-repeat: no-repeat;
    color: $fontColor;
    animation: bgChanger 5s infinite linear alternate-reverse;
    transition: background all 5s ease-in-out;

    //story-container animation keyframes 
@keyframes bgChanger {
    from{
        background: url(../assets/images/US-en-20210719-popsignuptwoweeks-perspective_alpha_website_medium.jpg);
    }
    to{
        background: url(../assets/images/NG-en-20210719-popsignuptwoweeks-perspective_alpha_website_medium.jpg);
    }
}

    

    //story-header with logo
   .story-header{
       display: flex;
       justify-content: space-between;
       align-items: center;
       


       #netflix-logo{
           width: 88px;

       }
   }

   //signin-btn
   .signin-btn{
    background-color: $buttoncolor;
    outline: none;
    border: 0;
    color: $fontColor;
    padding: 7px 5px;
    border-radius: 5px;
    }
}




